<nav>
    <div class="nav-left">
        <a href="/home">Home</a>
        <a href="/users/<%= userId %>">Perfil</a>
        <a href="/financeiro">Financeiro</a>
        <a href="/relatorios">Relatórios</a>
        <a href="/produtos">Produtos</a>
        <a href="/gestao">Gestao</a>
    </div>

    <div class="nav-right">
        <a href="/logout">Sair</a>
    </div>
</nav>