<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acesso Restrito</title>
  <style>
    /* Estilos para a Modal (popup) */
    .modal {
      display: block; /* Exibe a modal */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(243, 238, 238); /* Fundo escuro */
      background-color: rgba(243, 238, 238, 0.4); /* Fundo escuro com opacidade */
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      text-align: center;
    }

    /* Estilo do botão de voltar */
    .back-button {
      background-color: #545754;
      color: rgb(132, 130, 130);
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
    }

    .back-button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

  <!-- Modal (popup) -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <h2>Acesso não autorizado!</h2>
      <p>Acesso negado esta página.</p>
      <button class="back-button" onclick="goBack()">Voltar</button>
    </div>
  </div>

  <script>
    // Função para voltar para a página anterior
    function goBack() {
      window.history.back(); // Volta para a página anterior
    }
  </script>

</body>
</html>