<%- include('includes/head-modulos') %>
<body>
    <%- include('includes/nav') %>
    <header>
        <h1>Modulo de Produtos</h1> 
    </header>

    <div class="content">
        <h2><p>Bem vindo a sua Área restrita.</p></h2>
    </div>

    <%- include('includes/footer') %>
</body>